@import "tailwindcss";

@font-face {
  font-family: 'win95';
  src: url('../src/assets/win95.ttf') format('truetype');
}

#root, html {
  margin: 0;
  padding: 0;
  background: #008080;
}


body {
  margin: 0;
  padding: 0;
  font-family: "win95", Arial, sans-serif;
  font-size: 12px;
}

.animate-bounce600 {
  animation: bounce600 1s infinite;
}

.animate-bounce800 {
  animation: bounce800 1s infinite;
  animation-delay: 0.1s;
}

.animate-bounce1000 {
  animation: bounce1000 1s infinite;
  animation-delay: 0.2s;
}

@keyframes bounce600 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

@keyframes bounce800 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes bounce1000 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
}